Description=Run ping_tester
After=network-online.target
Wants=network-online.target

[Timer]
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target
